<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <style>
        body {text-align: center;}
        .btn {color:Teal; background-color:MintCream; border:none; outline: none; font-size:100%;}
        .btn:hover {color: DarkSlateGray;}
    </style>
    <link rel="icon" type="image/png" href="{% static 'generator/favicon.ico' %}">
    <title>About</title>
</head>
<body style="background-color:MintCream;">
    <main style="font-size:110%; color:DarkSlateGrey;">
         <h2 style="color:Teal;">About this project:</h2>
        <article>
            <p>On this website you can generate a random customized password with optional parameters.</p>
        </article> <br/>
         <h2 style="color:Teal;">About the author:</h2>
        <article>
            <p>My name is Elena Kolomeets and this is my first website made with django.</p>
        <br/>
            Here you can find the source code for all my projects:
            <p><a class="github-button" href="https://github.com/elena-kolomeets" data-color-scheme="no-preference: light; light: light; dark: dark;" aria-label="@elena-kolomeets on GitHub">GitHub @elena-kolomeets</a>
            </p>
            <br/>
            <a href="{% url 'home' %}">
                <input class="btn" type="submit" value="Back to Homepage">
            </a>
        </article>
    </main>
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>