<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is a password generator website">
    <style>
        body {text-align: center;}
    </style>
    <title>Homepage</title>
</head>
<body style="background-color:MintCream;">
    <h1 style="color:Teal;">Password Generator</h1>
    <br/>
    <!-- form is used to send info from
    one webpage to another url -->
    <form action="{% url 'password' %}" style="font-size:110%; color:DarkSlateGrey; font-family:arial">
        <!-- adding dropdown -->
        <select name="length" style="font-size:100%; color:DarkSlateGrey;" >
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10" selected="selected">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
        </select> Length
        <br/><br/>
        <!-- add a checkbox -->
        <input type="checkbox" name="uppercase"> Uppercase
        <br/>
        <input type="checkbox" name="numbers"> Numbers
        <br/>
        <input type="checkbox" name="special"> Special characters
        <br/><br/>
        <!-- add a button to submit a form -->
        <input style="color:Teal; font-size:100%;" type="submit" value="Generate Password">
    </form>
    <br/><br/><br/><br/><br/><br/><br/>
    <a href="{% url 'about' %}">
        <input style="color:Teal; font-size:110%;" type="submit" value="About">
    </a>
</body>
</html>