<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <style>
        body {text-align: center;}
        .btn {color:Teal; background-color:MintCream; border:none; outline: none; font-size:110%;}
        .btn:hover {color: DarkSlateGray;}
    </style>
    <link rel="icon" type="image/png" href="{% static 'generator/favicon.ico' %}">
    <title>Password</title>
</head>
<body style="background-color:MintCream;">
    <h1 style="color:Teal;">Your password is:</h1>
    <h2 style="color:MintCream; background-color:Teal"><br/>{{ password }}<br/><br/></h2>
    <br/><br/><br/><br/><br/><br/>
    <a href="{% url 'home' %}">
        <input class="btn" type="submit" value="Back to Homepage">
    </a>
</body>
</html>