<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {text-align: center;}
    </style>
    <title>Password</title>
</head>
<body style="background-color:MintCream;">
    <h1 style="color:Teal;">Your password is:</h1>
    <h2 style="color:MintCream; background-color:Teal"><br/>{{ password }}<br/><br/></h2>
    <br/><br/>
    <a href="{% url 'home' %}">
        <input style="color:Teal; font-size:105%;" type="submit" value="Back to Homepage">
    </a>
</body>
</html>